.media {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 1em auto;
  background-color: #282c34;
  position: relative;
  padding-bottom: 0.5rem;
}

.media:hover {
  background-color: white;
  color: black;
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.modal_container {
  width: 80%;
  height: 90%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-size: cover;
  position: relative;
}

.modal_body {
  padding: 5em;
  position: relative;
}

.modal_body_info {
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
  background-color: rgba(252, 237, 232, 0.85);
  border-radius: 5px;
}

.modal_title {
  font-size: 3rem;
  margin-bottom: 0.25em;
}

.modal_movieDetails {
  font-size: 1.115rem;
  margin-bottom: 0.75em;
}

.modal_releaseDate {
  margin-right: 1.25em;
}

.modal_tagline {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.modal_overview {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.modal_close_button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}
