@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;500&display=swap');

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Crimson+Pro', serif;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.app {
  background-color: rgb(38, 38, 45);
  color: white;
  padding-top: 6em;
  padding-bottom: 3em;
  min-height: 100vh;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.content {
  margin-top: 1.5em;
}

.container {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5em;
  padding-left: 5em;
}
