@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;500&display=swap');

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Crimson+Pro', serif;
}

.app {
  background-color: rgb(38, 38, 45);
  color: white;
  padding-top: 7em;
  padding-bottom: 3em;
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 3rem;
  padding: 0.5em 0;
  border-radius: 50px;
  color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
}
